#begin_win {
	background-color: #333444;
}

#summary_of_job {
	background-color: #333444;
}

#are_you_sure {
	color: red;
}

#intro_text {
	color: white;
}

#footer_bar {
	background-color: #333333;
}

#quit_btn:hover:active {
	background: red;
}

#quit_btn {
	border-color: #111111;
	color: white;
	background: #b22222;
}


#first_scrn_next_btn:hover:active {
	background: green;
}

#first_scrn_next_btn {
	border-color: #111111;
	color: white;
	background: #006400;
}
